<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'poll/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'poll/css/style.css' %}">
</head>
<body>
        <div class="container-fluid">
            <header>
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-white">
                  <div class="container-fluid">
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#navbarExample01"
                      aria-controls="navbarExample01"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarExample01">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link" aria-current="page" href="#">About Me</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Technical Skills</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Educational Background</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Project Done and Description</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
                <!-- Navbar -->
              </header>
            <div class="row ml-1">
                <div class="media">
                    <img  src="{% static 'poll/images/child.webp' %}" alt="Child" class="img m-1">
                    <div class="media-body">
                        <h2>Hi i am{{nm}}</h2>
                        <p> Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Vitae error corrupti reprehenderit 
                            ex? Nihil facere atque reprehenderit impedit accusantium? Placeat possimus, incidunt quo 
                            sed quaerat facilis pariatur molestiae! Voluptates, impedit!</p>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <img src="{% static 'poll/images/flower.webp' %}" alt="Flower" class="img2"> {% endcomment %}
</body>
</html>
